{# Master Template with head #}
{% extends twigDir ~ "templates/master.twig" %}

{# 'page' block is included in body of master.twig #}
{% block page %}

    <div class="page page--{{ bodyClass }}">

        {% include twigDir ~ 'organisms/nav.twig' %}

        {% block view %}{% endblock %}

        {% include twigDir ~ 'organisms/footer.twig' %}

    </div>

{% endblock %}
