<!DOCTYPE html>
<html lang="en">

	<head>
		<base href="/"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<link rel="stylesheet" href="https://use.typekit.net/qgg0sln.css">


		<?php wp_head(); ?>

		{% include twigDir ~ 'templates/favicons.twig' %}

		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', '<?php echo get_field("google_tag_manager_id", "option"); ?>');
		</script>
		<!-- End Google Tag Manager -->

		<?php if (is_preview()) { ?>
			<script>
				var rest_nonce = '<?php echo wp_create_nonce('wp_rest') ?>';
			</script>
		<?php } ?>
	</head>

	<body>

		{% block page %}{% endblock %}

		<!-- JS is injected here via webpack, please use the src/index.js entry point. -->

		<?php wp_footer(); ?>
	</body>

</html>
