*,
*:after,
*:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    //outline: none !important;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

body {
    font-family: $font_family_main;
    font-size: $font_size_base;
    line-height: $font_lineheight_base;
    -webkit-overflow-scrolling: touch;
    color: $colors_black;

    &.noscroll {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        overflow: hidden;
    }
}

.site-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.gap {
    @include breakpoint(md) {
        margin: 0 30px;
    }
}

.viewport {
    height: 100vh;

    &--min {
        height: auto;
        min-height: 100vh;
    }
}

a,
img {
    border: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
select,
select:focus,
textarea {
    border-radius: 0;
    appearance: none;
}

// .page {
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
// }

.icon:before {
    vertical-align: initial;
}

.show-for-sm {
    @include show-for(sm);
}

.show-for-md {
    @include show-for(md);
}

.show-for-lg {
    @include show-for(lg);
}

.show-for-xl {
    @include show-for(xl);
}

.hide-for-sm {
    @include hide-for(sm);
}

.hide-for-md {
    @include hide-for(md);
}

.hide-for-lg {
    @include hide-for(lg);
}

.hide-for-xl {
    @include hide-for(xl);
}
