h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 16px 0;
}

[class^="heading-"],
[class*=" heading-"] {
    color: $colors_navy;
}

.heading-1 {
    font-size: rem-calc(28px);
    line-height: 1.1;
    letter-spacing: -0.04px;
    font-weight: bold;

    @include breakpoint(md) {
        font-size: rem-calc(60px);
        letter-spacing: -1.5px;
    }
}

.heading-2 {
    font-size: 24px;
    @include breakpoint(md) {
        font-size: 42px;
    }
}

.heading-3 {
    font-size: 20px;
    line-height: 1.2;

    @include breakpoint(md) {
        font-size: 32px;
    }
}

.heading-4 {
    font-size: 18px;
    letter-spacing: -0.2px;

    @include breakpoint(md) {
        font-size: 28px;
        letter-spacing: -0.4px;
    }
}

.heading-5 {
    font-size: rem-calc(16px);
    line-height: 1.5;
    letter-spacing: -0.35px;

    @include breakpoint(md) {
        font-size: rem-calc(24px);
    }
}

.heading-6 {
    font-size: rem-calc(14px);

    @include breakpoint(md) {
        font-size: rem-calc(20px);
    }
}

p {
    margin: 16px 0;
}

strong {
}

i {
}

.body-12 {
    font-size: rem-calc(12px);
    line-height: 1.4;
    letter-spacing: 0.2px;
}

.body-20 {
    font-size: rem-calc(18px);
    line-height: 1.3;
    letter-spacing: 0px;
    color: rgba($colors_navy, 0.7);
    margin: 20px 0;

    @include breakpoint(md) {
        font-size: rem-calc(20px);
        line-height: 1.5;
        letter-spacing: 0.2px;
    }
}

.body-28 {
    font-size: rem-calc(20px);
    line-height: 1.3;
    letter-spacing: 0px;
    color: rgba($colors_navy, 0.7);
    margin: 20px 0;

    @include breakpoint(md) {
        font-size: rem-calc(28px);
        line-height: 1.5;
        letter-spacing: 0.2px;
    }
}

.body {
    font-size: rem-calc(18px);
    line-height: 1.3;
    letter-spacing: 0px;
    color: rgba($colors_navy, 0.7);
    margin: 20px 0;
}

.body-16-20 {
    font-size: 16px;
    line-height: 1.5;
    color: rgba($colors_navy, 0.7);

    @include breakpoint(md) {
        font-size: 20px;
    }
}

.tagline {
    font-size: 20px;
    font-weight: 300;
    color: $colors_navy;
    line-height: 1.2;

    @include breakpoint(md) {
        font-size: 28px;
        letter-spacing: 0.2px;
    }
}
