.accordion {
    border-bottom: 2px solid #bdd4e0;

    &:first-child {
        border-top: 2px solid #bdd4e0;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        border: 0;
        background-color: transparent;
        margin: 0;
        padding: 24px 0 16px;
        cursor: pointer;

        &__inner {
            transition: 200ms;
            font-size: 16px;
            color: $colors_navy;

            .accordion--active & {
                color: $colors_red;
            }

            .accordion:not(.accordion--active) .accordion__title:hover & {
                transform: translateX(5px);
            }
        }

        .icon {
            margin-left: 32px;
            margin-right: 16px;
            font-size: 18px;
            color: $colors_red;
        }

        * {
            margin: 0;
        }
    }

    &__content {
        padding-bottom: 8px;
        &__inner {
            padding-bottom: 24px;

            > *:first-child {
                margin-top: 0;
            }
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include breakpoint(md) {
        &__title {
            padding: 32px 0 24px;
            &__inner {
                font-size: 20px;
            }
        }
        &__content {
            &__inner {
                padding-right: 60px;
            }
        }
    }
}
