.available-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0 0;

    &__item {
        width: 50%;

        @include breakpoint(sm) {
            width: 25%;
        }

        &__image {
            position: relative;
            padding-bottom: 100%;
            height: 0;

            img {
                @include fill;
                @include object-fit(contain);
                padding: 30px;
            }
        }
    }
}
