.brand-tile {
    display: block;
    text-decoration: none;
    position: relative;
    padding-bottom: 65%;
    height: 0;

    &__image {
        @include fill;
        @include object-fit(contain);
        padding: 25px;
    }

    @include breakpoint(md) {
        &__image {
            padding: 50px;
        }
    }
}
