.cta-tile {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 120%;
    height: 0;

    img {
        @include fill;
        @include object-fit(cover);
    }

    &__content {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        width: 90%;
        max-width: 370px;
        background-color: white;
        padding: 30px;
    }

    &__title {
        margin: 0;
    }

    &__description {
        font-size: 16px;
        line-height: 1.4;
        color: $colors_navy;
        margin-top: 5px;
    }

    @include breakpoint(md) {
        &__content {
            padding: 40px;
        }
        &__description {
            font-size: 20px;
        }
    }

    &--large {
        .cta-tile {
            &__content {
                max-width: none;
            }
        }
    }
}
