.featured-brand-tile {
    display: block;
    text-decoration: none;
    color: $colors_navy;

    &__title {
        font-size: 30px;
        margin: 0 0 10px;
    }

    &__blurb {
        margin: 0;
        font-weight: 300;
        line-height: 1.4;

        @include breakpoint(md) {
            font-size: 22px;
        }
    }

    &__image {
        position: relative;
        padding-bottom: 130%;
        border-radius: 8px;
        overflow: hidden;
        transform: translateZ(0);
        display: flex;
        justify-content: center;
        &__logo {
            position: absolute;
            width: 66%;
            padding-bottom: 22%;
            margin-top: 10%;
            left: 50%;
            transform: translateX(-50%);
            &:before {
                position: relative;
                content: "";
            }
            img {
                @include fill;
                @include object-fit(contain);
            }
        }
    }

    &__content {
        padding: 25px 30px;
    }
}
