.file-upload-component {
    margin: 28px 0;

    &__inner {
        display: flex;
        align-items: flex-end;
    }

    input {
        display: none;
    }

    &__left {
        position: relative;
        flex-grow: 1;
        margin-right: 20px;
        width: calc(100% - 230px);
    }

    &__clear {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 20px;
        line-height: 20px;
        z-index: 5;
    }

    &__label {
        @extend %field-label;
    }

    &__instructions {
        font-size: 14px;
        line-height: 1.5;
        color: rgba($colors_navy, 0.7);
        margin-bottom: 10px;
    }

    &__file-list {
        @extend %field-input;
        padding-right: 50px !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @include breakpoint(md) {
        &__left {
            margin-right: 30px;
        }
        &__right {
            .button {
                min-width: 200px;
            }
        }
        &__file-list {
            padding-top: 16px !important;
        }
    }
}
