.form-page-intro {
    text-align: center;

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        > * {
            position: relative;
            padding: 15px;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            &:not(:last-child) {
                &::before {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 20px;
                    height: 1px;
                    background-color: rgba($colors_navy, 0.7);
                    content: "";
                }
            }
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: $colors_navy;
        text-decoration: none;
        pointer-events: none;

        .touch & {
            color: $colors_red;
            pointer-events: all;
        }

        .icon {
            position: relative;
            margin-right: 10px;
            font-size: 24px;
            transform: translateY(2px);
        }
    }

    @include breakpoint(md) {
        &__links {
            flex-direction: row;
            justify-content: center;

            > * {
                position: relative;
                padding: 0 30px;

                &:not(:last-child) {
                    &::before {
                        position: absolute;
                        left: auto;
                        bottom: auto;
                        top: 0;
                        right: 0;
                        width: 1px;
                        height: 100%;
                        background-color: rgba($colors_navy, 0.7);
                        content: "";
                    }
                }
            }
        }
    }
}
