.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination {
    position: relative;
    display: flex;
    align-items: center;
    $link_size: 36px;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 1;

    a {
        text-decoration: none;
    }

    li {
        display: block;
    }

    &__arrow {
        font-size: 20px;
        width: $link_size;
        height: $link_size;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colors_red;
        margin: 0 10px;
        transition: 200ms ease all;

        &.disabled {
            opacity: 0.5;
        }
    }

    &__link {
        position: relative;
        font-size: 16px;
        color: $colors_navy;
        width: $link_size;
        height: $link_size;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        transition: 200ms ease all;
        font-weight: bold;

        font-variant-numeric: lining-nums;
        -moz-font-feature-settings: "lnum";
        -webkit-font-feature-settings: "lnum";
        font-feature-settings: "lnum";

        &__num {
            position: relative;
            // transform: translateY(-2px);
        }

        &::after {
            content: "";
            @include fill;
            border: 2px solid $colors_red;
            border-radius: 50%;
            opacity: 0;
            transition: 200ms ease all !important;
            background-color: $colors_red;
            z-index: -1;
        }

        &:focus {
            appearance: none;
            outline: none;
        }

        &--active {
            color: white !important;

            &::after {
                opacity: 1;
            }
        }

        &:hover {
            color: black;
        }
    }
}
