.primary-nav-submenu {
    position: absolute;
    top: calc(100% - 10px);
    left: -37px;
    width: 283px;
    background-color: white;
    box-shadow: 0 10px 40px rgba($colors_navy, 0.2);
    padding: 15px 0;
    margin: 0;

    visibility: hidden;
    opacity: 0;
    transition: 350ms ease all;
    transform: translateY(-15px);

    &.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    &--Contact {
        left: auto;
        right: -30px;
        @include breakpoint(md, only) {
            right: -7px;
        }
    }

    &__link {
        display: block;
        font-size: rem-calc(14px);
        line-height: 1.5;
        letter-spacing: 2px;
        font-weight: bold;
        color: rgba($colors_navy, 0.85);
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 30px;
        transition: 200ms ease all;

        .primary-nav-submenu__item:hover & {
            color: $colors_red;
        }
    }

    &__item {
        transition: 500ms ease all;
        opacity: 0;
        transform: translateY(-15px);

        .primary-nav-submenu.active & {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
