.primary-nav-item {
    position: relative;
    margin: 0 12px;
    height: 100%;

    &__link {
        font-size: rem-calc(15px);
        line-height: 1.5;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $colors_navy;
        transition: 200ms ease all;
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 38px 0 28px;
        cursor: pointer;

        .icon {
            position: relative;
            display: inline-block;
            opacity: 0.5;
            margin-left: 8px;
            transform: translateY(1px);
        }

        &::after {
            $lineWidth: 4px;
            content: "";
            @include fill;
            top: calc(100% - #{$lineWidth});
            height: $lineWidth;
            background-color: $colors_red;
            opacity: 0;
            transition: 200ms ease all;
        }

        .active & {
            &::after {
                opacity: 1;
            }
        }

        .active &,
        .primary-nav-item:hover & {
            color: $colors_red;
        }
    }

    @include breakpoint(lg) {
        margin: 0 20px;
    }

    @include breakpoint(xl) {
        margin: 0 30px;
    }
}
