.product-tile {
    position: relative;
    // display: block;
    text-decoration: none;
    text-align: center;
    padding: 0 0 22px;
    transition: 200ms ease all;
    z-index: 1;
    height: 100%;

    display: flex;
    flex-direction: column;

    &__top {
        flex-grow: 1;
    }
    &__bottom {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__bg {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 8px;
    }

    &__img {
        position: relative;
        padding-bottom: 100%;
        height: 0;
        transition: 200ms ease all;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-image: radial-gradient(
                farthest-side,
                rgba(black, 0.15),
                transparent
            );
            content: "";
        }

        img {
            @include fill;
            @include object-fit(contain, bottom);
            padding: 0 20px;

            // opacity: 0;
            // transform: translateY(20px);
            // transition: 500ms ease all;

            // &.loaded {
            //     opacity: 1;
            //     transform: translateY(0);
            // }
        }
    }

    &__brand {
        margin: 20px 0 0;
        color: $colors_navy;
        font-size: rem-calc(14px);
        letter-spacing: -0.2px;
        line-height: 1.2;
    }

    &__title {
        line-height: 1.2;
        font-size: rem-calc(12px);
        font-weight: 400;
        margin: 0;
        color: $colors_navy;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 20px;
        margin-top: 5px;
    }

    &__tag {
        position: relative;
        text-transform: uppercase;
        margin: 0;

        font-size: 10px;
        font-weight: 500;
        color: $colors_navy;
        opacity: 0.7;
        line-height: 1.5;
        letter-spacing: 2px;

        &:not(:last-child) {
            padding-right: 9px;
            //margin-right: 5px;

            &::after {
                content: "";
                //position: absolute;
                //top: 50%;
                display: inline-block;
                margin: 0 0 0 5px;
                transform: translateY(-50%);
                right: 0;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $colors_navy;
                opacity: 0.25;
            }
        }
    }

    &__more {
        background-color: rgba($colors_navy, 0.04);
        border-radius: 10px;
        padding: 0 4px 2px;

        font-size: 10px;
        font-weight: 500;
        color: $colors_navy;
        opacity: 0.7;
        line-height: 1.3;
        letter-spacing: 2px;
    }

    &:hover {
        transform: translateY(-5px);
    }

    @media (min-width: #{500px / 16px * 1em}) {
        &--regular {
            .product-tile {
                &__brand {
                    font-size: rem-calc(24px);
                }
                &__title {
                    font-size: rem-calc(18px);
                }
            }
        }
    }

    @include breakpoint(md) {
        padding: 0 0 40px;

        &__bg {
            top: 80px;
        }

        &__brand {
            font-size: rem-calc(24px);
            letter-spacing: -0.35px;
            margin: 30px 0 0;
        }

        &__img {
            img {
                padding: 0 30px;
            }
        }

        &__title {
            font-size: rem-calc(20px);
        }

        &__tags {
            margin-top: 15px;
        }
    }

    &--featured {
        .product-tile {
            &__tags {
                margin-top: 15px;
            }
            &__brand {
                font-size: rem-calc(24px);
            }
            &__title {
                font-size: rem-calc(18px);
            }
        }

        @include breakpoint(md) {
            .product-tile {
                &__brand {
                    font-size: rem-calc(30px);
                }
                &__title {
                    font-size: rem-calc(25px);
                }
            }
        }
    }
    &--regular {
        .product-tile {
            &__top {
                flex-grow: initial;
            }
        }
    }
}
