.ptrs-modal {
    width: 100%;
    max-width: 500px;
    background-color: white;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    min-height: 400px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: hsl(0, 0, 90%);
        padding: 35px 40px;

        .icon {
            color: $colors_navy;
            font-size: 20px;
        }
    }

    &__close {
        border: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
    }

    &__body {
        padding: 40px;

        > *:first-child {
            margin-top: 0;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        margin: 0;
        font-size: 24px;
    }

    @include breakpoint(md) {
        &__title {
            font-size: 28px;
        }
    }
}
