/* stylelint-disable */

#tinymce,
.rich-text {
    color: $colors_navy;

    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }

    a:not(.button):not(.cta) {
        @include animatedUnderline($colors_red, 1px);
        color: rgba($colors_navy, 0.85);
        text-decoration: none;
        transition: 200ms ease all;

        &:hover {
            color: white;
        }
    }

    .cta {
        margin: 20px 0;
    }

    p,
    li {
        position: relative;
        font-size: 16px;
        line-height: 1.5;
        margin: 20px 0;
        color: rgba($colors_navy, 0.85);

        @include breakpoint(md) {
            font-size: 20px;
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: 40px;
        }
    }

    li {
        margin: 10px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 15px 0;
        line-height: 1;
    }

    h1 {
        @extend .heading-1;
    }

    h2 {
        @extend .heading-2;
    }

    h3 {
        @extend .heading-3;
    }

    h4 {
        @extend .heading-4;
    }

    h5 {
        @extend .heading-5;
        @include breakpoint(sm, down) {
            line-height: 20px;
        }
    }

    h6 {
        @extend .heading-6;
        @include breakpoint(sm, down) {
            line-height: 18px;
        }
    }

    p + p {
        @include breakpoint(md) {
            margin-top: 40px;
        }
    }

    table {
        border-collapse: collapse;
        margin: 24px 0;
        border: 0;
        border-bottom: 2px solid #e6eaed;

        tbody > tr:first-child {
            background-color: white;
            border-top: 2px solid #e6eaed;
            border-bottom: 2px solid #e6eaed;

            th,
            td {
                padding: 20px 30px;
                font-size: 16px;
                line-height: 1.2;
                font-weight: bold;
                letter-spacing: 0.2px;
            }
        }

        tr:nth-child(even) {
            background-color: rgba(#c9e5f0, 0.2);
        }

        th,
        td {
            vertical-align: top;
            // border: 1px solid #d6d6d6;
            border: 0;
            padding: 10px 30px;
        }
    }

    // Make table scroll on mobile
    .table-wrapper {
        @include breakpoint(sm, down) {
            height: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            margin-right: -$layout_page_padding_sm;
            margin-left: -$layout_page_padding_sm;

            &__inner {
                height: 100%;
                display: inline-block;
                margin-left: $layout_page_padding_sm;
                margin-right: $layout_page_padding_sm;
            }

            table {
                display: inline-block;

                td,
                th {
                    min-width: 150px;
                }
            }
        }
    }

    .disclaimer {
        font-size: 14px;
        line-height: 1.5;
    }

    .wp-caption {
        max-width: 100%;
        margin: 60px 0;
        img {
            margin: 0;
        }
        .wp-caption-text {
            font-style: italic;
            margin-top: 10px;
            font-size: 16px;
        }
    }

    img {
        display: block;
        margin: 40px 0;
        max-width: 100%;
        height: auto;
    }

    .iframe-wrapper {
        margin: 40px 0;
    }

    ol,
    ul {
        padding-left: 20px;
        li.inner-added {
            font-weight: bold;
            color: $colors_red;
            > * {
                font-weight: 400;
                color: rgba($colors_navy, 0.85);
            }
        }
    }
}
