<!DOCTYPE html>
<html lang="en">

    <head>
        <base href="/"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="”description”" content="">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

        <title>
            title
        </title>
    </head>

    <body>

    </body>

</html>
