<html>
    <body>
        <h1>@Model.Name</h1>
        <h2>@Model.CamelCase</h2>

        <div class="rte">@Html.Raw(Model.RTE)</div>

        @Html.Partial("_partial", {
            "Text": "This is model data being passed to a partial."
        })

        @for (var i = 0; i < Model.People.Length; i++)
        {
            var Person = Model.People[i];
            <p>Name: @Person.Name</p>
            <p>Age: @Person.Age</p>
        }

    </body>
</html>
