/*----- PX to EM  -----*/
@function em($pixels, $context: 16) {
    @return $pixels/$context;
}

/*----- Touch  -----*/
@mixin is-touch {
    .touch & {
        @content;
    }
}

/*----- Touch  -----*/
@mixin is-no-touch {
    .no-touch & {
        @content;
    }
}

/*----- Non touch hover -----*/
@mixin hover {
    .no-touch & {
        &:hover {
            @content;
        }
    }
}

/*----- Has HTML class  -----*/
@mixin isIE11 {
    .IE-11 & {
        @content;
    }
}

/*---- Placeholder Color ----*/
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

/*---- Inset Overlay ----*/
@mixin insetOverlay($opacity, $color: black) {
    box-shadow: inset 0 0 0 999em rgba($color, $opacity); // overlay
}

// SHOW/HIDE FOR
@mixin hide-for($size) {
    @include breakpoint($size) {
        display: none;
    }
}

@mixin show-for($size) {
    @media (max-width: map-get($map: $breakpoint_map, $key: $size) - (1em)/16) {
        display: none;
    }
}

@function em-calc($size) {
    $emSize: $size / 16px;
    @return #{$emSize}em;
}

@function rem-calc($size) {
    $emSize: $size / 16px;
    @return #{$emSize}rem;
}

@mixin hide-visually {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

@mixin gridGutters($gutter) {
    .row {
        margin-left: -($gutter/2);
        margin-right: -($gutter/2);

        *[class^="col-"],
        *[class*=" col-"] {
            padding-left: ($gutter/2);
            padding-right: ($gutter/2);
        }
    }
}

@mixin fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin animatedUnderline($color, $lineWidth) {
    display: inline-block;
    line-height: 1.3;
    box-shadow: inset 0 (-$lineWidth) 0 $color, 0 $lineWidth 0 $color;
    transition: 200ms ease all;

    &:hover {
        box-shadow: inset 0 -25px 0 $color, 0 $lineWidth 0 $color;
    }
}

@mixin backgroundBGColour($color) {
    position: relative;
    &::before {
        @include fill;
        background-color: $color;
        content: "";
        z-index: -1;
    }
}

@mixin fontSize($sm, $md) {
    font-size: $sm;
    @include breakpoint(md) {
        font-size: $md;
    }
}

@mixin imageAnimation {
    opacity: 0;
    transform: translateY(20px);
    transition: 500ms ease all;

    &.loaded {
        opacity: 1;
        transform: translateY(0);
    }
}
