.accordions-section {
    background-color: $colors_blue;
    padding: 60px 0;

    &__intro {
        text-align: center;
        margin-bottom: 40px;
    }

    &__title {
        margin-top: 10px;
    }

    &__accordions {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    @include breakpoint(md) {
        padding: 100px 0;
    }
}
