.brand-hub-intro {
    position: relative;

    &__inner {
        padding: 40px 0 60px;
    }

    &__content {
        position: relative;
        flex-grow: 1;
        padding: 0;
        text-align: center;
        padding-top: 40px;
        margin-top: 40px;
        padding-bottom: 30px;

        &::before {
            @include hide-for(md);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: rgba($colors_navy, 0.1);
        }
    }

    &__sidebar {
        .button {
            max-width: none;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__title {
        line-height: 1;
        margin: 0 0 7px;
    }

    &__tagline {
        margin: 0 0 10px;
    }

    &__excerpt {
        margin: 0;
    }

    &__logo {
        width: 160px;
        flex-shrink: 0;
        margin: 0 auto;
    }

    &__socials {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    @include breakpoint(sm, down) {
        .container-fluid {
            padding: 0;
        }
        &__inner {
            padding-left: $layout_page_padding_sm;
            padding-right: $layout_page_padding_sm;
        }
    }

    @include breakpoint(md) {
        margin-top: -100px;

        &__sidebar {
            width: 250px;
            flex-shrink: 0;
        }

        &__content {
            margin-top: 10px;
            padding: 0 50px;
            text-align: left;
        }

        &__inner {
            display: flex;
            padding: 50px;
        }

        &__socials {
            margin-top: 10px;
        }
    }
}
