@mixin numberOfColumns($columns: 1) {
    width: (100%) / $columns;
}

.brand-grid {
    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        @include numberOfColumns(2);
    }

    @include breakpoint(sm) {
        &__item {
            @include numberOfColumns(3);
        }
    }

    @include breakpoint(md) {
        &__item {
            @include numberOfColumns(4);
        }
    }

    @include breakpoint(lg) {
        &__item {
            @include numberOfColumns(5);
        }
    }
}
