.brand-hub {
    overflow: hidden;
    background-color: $colors_champagne;

    &__products {
        margin: 60px 0;

        &__title {
            text-align: center;
            margin-bottom: 40px;
        }
    }

    @include breakpoint(md) {
        &__products {
            margin: 100px 0;
        }
    }
}
