.crisis-banner {
    background-color: $colors_red;
    color: white;
    padding-top: 10px;

    &__inner {
        display: flex;
        justify-content: center;
        padding: 27px 0;

        .icon {
            font-size: 26px;
            margin-right: 15px;
            transform: translateY(1px);
        }

        .rich-text {
            color: white;

            p {
                color: white;
            }

            a {
                color: white !important;
                text-decoration: underline !important;
                box-shadow: none !important;

                &:hover {
                    text-decoration: none !important;
                    box-shadow: none !important;
                }
            }
        }
    }

    &--custom {
        color: $colors_navy;

        .crisis-banner {
            &__inner {
                .icon {
                    color: $colors_navy;
                }
                .rich-text {
                    color: $colors_navy;
                    a {
                        color: $colors_navy !important;
                    }
                }
            }
        }
    }

    @include breakpoint(md) {
        padding-top: 20px;
    }
}
