.featured-products {
    position: relative;
    padding: 60px 0;
    background-color: $colors_champagne;
    z-index: 1;

    &__icon {
        @include show-for(sm);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        .icon {
            font-size: 40px;
            color: $colors_red;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 50%;
            width: 211px;
            height: 27px;
            transform: translateX(-50%) translateY(-100%) translateY(1px);
            background-image: url("../assets/images/ice-cream-container.svg");
            background-size: contain;
            background-position: bottom center;
            background-repeat: no-repeat;
            z-index: 3;
            content: "";
        }
    }

    &__intro {
        text-align: center;
        margin-bottom: 20px;
    }

    &__cta {
        margin-top: 48px;
        text-align: center;
    }

    @include breakpoint(md) {
        padding: 100px 0;

        &__intro {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }
    }
}
