.featured-brands {
    @include backgroundBGColour($colors_champagne);

    &__item {
        padding-bottom: 20px;
    }

    @include breakpoint(sm) {
        &__item {
            padding-bottom: 0;
        }
    }
}
