.footer {
    background-color: $colors_navy;
    padding: 50px 0;
    color: $colors_sand;
    margin-top: auto;

    &__item {
        padding: 20px 0;
        text-align: center;
        display: flex;
        justify-content: center;

        p {
            margin: 0;
        }

        a {
            color: $colors_sand;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        &:not(:last-child) {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 4px;
                height: 4px;
                background-color: rgba($colors_sand_light, 0.6);
                border-radius: 50%;
                transform: translateX(-50%);
            }
            &:first-child {
                padding-bottom: 5px;
                &::after {
                    display: none;
                }
            }
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        margin-left: -25px;
        margin-right: -25px;

        &__link {
            color: #c4cccf;
            text-decoration: none;
            padding: 25px;

            .icon-facebook {
                display: inline-block;
                transform: scale(1.3);
            }
        }
    }

    &__froneri-logo {
        width: 90px;
    }

    @include breakpoint(md) {
        padding: 70px 0;
        margin-bottom: 30px;

        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__items {
            display: flex;
            align-items: center;
            margin-left: -50px;
            margin-right: -50px;
        }

        &__item {
            padding: 0 20px;

            &:not(:last-child) {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: auto;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
                &:first-child {
                    padding-right: 0;
                    padding-left: 70px;
                    padding-bottom: 0;
                }
            }
        }
    }
    @include breakpoint(lg) {
        &__item {
            padding: 0 50px;
        }
    }
}
