.gravity-form {
    max-width: 671px;
    width: 100%;
    margin: 0 auto;
    display: block;

    &__errors {
        background-color: rgba($colors_red, 0.1);
        border: 1px solid rgba($colors_red, 0.5);
        border-radius: 2px;
        padding: 30px;
        margin-bottom: 28px;
        color: $colors_navy;

        > *:first-child {
            margin-top: 0;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }

    pre {
        overflow-x: auto;
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
    }

    &__submit {
        margin-top: 60px;
        text-align: center;
    }

    &__status {
        text-align: center;
        color: rgba($colors_navy, 0.7);
        font-weight: bold;
    }

    .react-form {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;

        > * {
            width: 100%;
            margin: 7px 0;
            padding: 0 15px;

            @include breakpoint(sm) {
                margin: 14px 0;
                &.ptrs-half {
                    width: 50%;
                }

                &.ptrs-third {
                    width: (100%)/3;
                }

                &.ptrs-10 {
                    width: 10%;
                }

                &.ptrs-20 {
                    width: 20%;
                }

                &.ptrs-30 {
                    width: 30%;
                }

                &.ptrs-40 {
                    width: 40%;
                }

                &.ptrs-50 {
                    width: 50%;
                }

                &.ptrs-60 {
                    width: 60%;
                }

                &.ptrs-70 {
                    width: 70%;
                }

                &.ptrs-80 {
                    width: 80%;
                }

                &.ptrs-90 {
                    width: 90%;
                }
            }
        }

        .rich-text {
            text-align: left;
            margin: 46px 0 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__field-with-children {
        .react-form__field__label {
            display: none;
        }

        &__label {
            @extend %field-label;
        }

        &__children {
            display: flex;
            align-items: flex-end;
            padding: 0 !important;
            margin-left: -15px;
            margin-right: -15px;
        }

        .react-form__field {
            position: relative;
            padding: 0 15px;
            margin: 0;
            display: flex;
            align-items: center;

            &__info {
                margin-left: 10px;
                margin-top: 0;
                font-size: 14px;
                font-weight: normal;
                text-transform: none;
                color: rgba($colors_navy, 0.7);
            }
            &__errors {
                position: absolute;
                bottom: -4px;
                height: 0;
            }
        }
    }
}

.gravity-form-success {
    text-align: center;
    margin: 20px 0;
    animation: fadeUp 500ms ease forwards;

    &__icon {
        display: block;
        color: $colors_red;
        font-size: 48px;
        margin-bottom: 30px;
        animation: scaleUp 500ms ease forwards;
    }

    &__title {
        margin-bottom: 0;
    }

    @include breakpoint(md) {
        &__icon {
            font-size: 60px;
        }
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
