.hero-brand-hub {
    position: relative;
    background-color: $colors_blue;

    padding-bottom: 96%;
    height: 0;

    &__image {
        @include fill;
        @include object-fit(cover);
    }

    @include breakpoint(sm) {
        padding-bottom: 42%;
    }

    &--simple {
        padding-bottom: 56.25%;

        @include breakpoint(sm) {
            padding-bottom: 30%;
        }
    }
}
