.hero-home {
    &__primary {
        display: block;
        position: relative;
        width: 100%;
        padding: 45px;
        text-align: center;
        text-decoration: none;
        padding-bottom: 110%;
        height: 0;

        &__title {
            font-size: rem-calc(28px);
            line-height: 1;
            letter-spacing: -1.5px;
            font-weight: bold;
            color: $colors_navy;

            &.reverse {
                color: white;
            }
        }

        > * {
            position: relative;
            z-index: 2;
        }

        &__img {
            @include fill;
            @include object-fit(cover);
            z-index: 1;
        }
    }

    &__secondaries {
        width: 100%;
    }

    &__secondary {
        display: block;
        text-decoration: none;
        padding-bottom: 66%;
        position: relative;
        height: 0;
        overflow: hidden;

        &__inner {
            @include fill;
            display: flex;

            &.flipped {
                flex-direction: row-reverse;
            }
        }

        &__image {
            width: 50%;
            position: relative;
            overflow: hidden;

            img {
                @include fill;
                @include object-fit(cover);
                transform: scale(1.01);
                transition: 1s ease all;
            }
        }

        &__content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding: 25px;
            background-color: #fee6c4;
        }

        &__title {
            font-size: rem-calc(17px);
            line-height: 1;
            letter-spacing: -0.6px;
            font-weight: bold;
            color: $colors_navy;
            margin: 5px 0 20px;
        }

        &:hover {
            .hero-home__secondary__image {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__outer {
        display: flex;
        flex-direction: column;
    }

    @include breakpoint(sm) {
        &__inner {
            display: flex;
        }
        &__primary {
            padding-bottom: 55%;
        }
        &__secondary {
            min-height: 0;
            height: 50%;
            padding-bottom: 0;
        }
    }

    @include breakpoint(md) {
        &__inner {
            height: auto;
            min-height: calc(100vh - 150px);

            .hero-home--has-banner & {
                min-height: calc(100vh - 250px);
            }
        }
        &__primary {
            width: 50%;
            padding: 65px;

            height: auto;
            padding-bottom: 0;

            &__title {
                font-size: 3.5vw;
            }

            &::after {
                content: "";
                @include fill;
                height: 50%;
                background-image: linear-gradient(
                    to bottom,
                    rgba(white, 0.5),
                    rgba(white, 0)
                );
                z-index: 1;
            }
        }

        &__secondaries {
            width: 50%;
        }

        &__secondary {
            &__title {
                font-size: 2.5vw;
            }
            &__content {
                padding: 50px;
            }
        }
    }

    @include breakpoint(lg) {
        &__primary {
            padding: 80px;
        }
    }

    @include breakpoint(xl) {
        &__primary {
            padding: 120px;
            &__title {
                font-size: rem-calc(62px);
            }
        }
        &__secondary {
            &__title {
                font-size: rem-calc(38px);
            }
        }
    }

    @media (max-height: 59.375em) and (min-width: #{$breakpoint_md}) {
        //Max height of 950px
        &__inner {
            min-height: 800px;
        }
    }
    @media (max-height: 65.625em) and (min-width: #{$breakpoint_md}) {
        //Max height of 1050px
        &.hero-home--has-banner .hero-home__inner {
            min-height: 800px;
        }
    }
}
