.hero-product-detail {
    position: relative;
    z-index: 1;

    &__inner {
        position: relative;
    }

    &__img {
        position: relative;
        padding-bottom: 100%;

        img {
            @include fill;
            @include object-fit(contain);
            @include imageAnimation;
            padding: 50px;
        }
    }

    &__content {
        position: relative;
        padding: 50px 0;
        min-height: 385px;

        &::before {
            @include fill;
            width: 100vw;
            left: -$layout_page_padding_sm;
            content: "";
            background-color: rgba(white, 0.4);
            z-index: -1;
        }
    }

    &__logo {
        position: relative;
        max-width: 105px;
        width: 100%;
        height: auto;
        margin: 0 auto 30px;
    }

    &__title {
        position: relative;
        padding-top: 40px;
        margin: 10px 0;
        line-height: 1;

        &::before {
            @include hide-for(md);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;

            .bg--blue & {
                background-color: $colors_line_blue;
            }
            .bg--green & {
                background-color: $colors_line_green;
            }
            .bg--orange & {
                background-color: $colors_line_orange;
            }
            .bg--pink & {
                background-color: $colors_line_pink;
            }
            .bg--purple & {
                background-color: $colors_line_purple;
            }
            .bg--yellow & {
                background-color: $colors_line_yellow;
            }
        }
    }

    &__collection {
        font-size: rem-calc(20px);
        line-height: 1.3;
        font-weight: 300;
        color: $colors_navy;
        margin: 10px 0;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 20px -10px;
    }

    &__tag {
        position: relative;
        display: block;
        font-size: 10px;
        letter-spacing: 1.5px;
        font-weight: 500;
        text-transform: uppercase;
        color: rgba($colors_navy, 0.7);
        margin: 10px;
        padding-left: 22px;

        @extend .icon;
        @extend .icon-tick;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            color: $colors_red;
            font-size: 7px;
            width: 16px;
            // height: 16px;
            text-align: center;
            line-height: 12px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-color: white;
            border-radius: 50%;
        }
    }

    @include breakpoint(sm) {
        &__img {
            padding-bottom: 50%;
        }
    }

    @include breakpoint(md) {
        & + * {
            position: relative;
            z-index: 1;
            margin-top: -$layout_hero_offset_md;
        }

        &__inner {
            display: flex;
            padding-bottom: $layout_hero_offset_md;
        }

        &__img {
            width: 50%;
            padding-bottom: 0;

            img {
                padding: 80px 100px;
            }
        }

        &__content {
            position: static;
            padding: 80px 0 80px $layout_page_padding;
            width: 50%;
            min-height: 550px;
            &::before {
                @include fill;
                width: 50vw;
                left: 50%;
                content: "";
                background-color: rgba(white, 0.4);
                z-index: -1;
            }
        }

        &__logo {
            margin: 0 0 20px;
            max-width: 145px;
            max-height: 72px;
            @include object-fit(contain, left);
        }

        &__title {
            padding-top: 0;
        }

        &__collection {
            font-size: rem-calc(20px);
        }
    }

    @include breakpoint(xl) {
        &__content {
            padding: 80px 0 80px 100px;
        }
    }
}
