.hero-simple {
    background-color: $colors_blue;
    overflow: hidden;

    &__left {
        padding: 50px 0 50px 0;
        width: 100%;
    }

    &__right {
        width: 100%;
    }

    &__outer {
        display: flex;
        flex-direction: column;
    }

    &__image {
        position: relative;
        margin-left: -$layout_page_padding_sm;
        margin-right: -$layout_page_padding_sm;
        padding-bottom: 75%;
        height: 0;

        img {
            @include fill;
            @include object-fit(cover);
        }
    }

    h1 {
        margin-bottom: 10px;
        width: 100%;
    }

    &__blurb {
        margin-top: 10px;
        margin-bottom: 0;
        width: 100%;
    }

    @include breakpoint(md) {
        &__inner {
            display: flex;
            min-height: 610px;
        }

        &__left {
            width: 50%;
            padding: 120px 30px 120px 0;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }

        h1 {
            margin-bottom: 16px;
        }

        &__blurb {
            margin-top: 20px;
        }

        &__right {
            position: relative;
            width: 50%;
        }

        &__image {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(50vw - 30px);
            height: 100%;
            margin: 0;
            padding-bottom: 0;
        }
        &--no-image {
            .hero-simple {
                &__inner {
                    text-align: center;
                }
            }
        }
    }

    @include breakpoint(lg) {
        &__left {
            padding-right: 120px;
        }
    }

    &--no-image {
        .hero-simple {
            &__inner {
                justify-content: center;
            }
            &__left {
                padding-right: 0;
                align-items: center;
            }
        }
    }
}
