.hero-product-listing {
    position: relative;
    background-color: $colors_purple;

    &__bg {
        @include fill;
        @include object-fit(cover);
    }

    &__inner {
        position: relative;
        z-index: 1;
        text-align: center;
        padding: 50px 0;
    }

    &__title {
        margin-top: 0;
    }

    &__subtitle {
        margin-bottom: 0;
    }

    &__cta {
        margin-top: 20px;
    }

    @include breakpoint(md) {
        &__inner {
            display: block;
            width: 75%;
            margin: 0 auto;
            padding: 120px 0;
        }
    }

    @include breakpoint(lg) {
        &__inner {
            width: 50%;
        }
    }

    &--has-offset {
        padding-bottom: $layout_hero_offset_sm;

        & + * {
            margin-top: -$layout_hero_offset_sm;
        }

        @include breakpoint(md) {
            padding-bottom: $layout_hero_offset_md;

            & + * {
                margin-top: -$layout_hero_offset_md;
            }

            .hero-product-listing__inner {
                padding-bottom: 60px;
            }
        }
    }
}
