.left-right-image {
    margin: 60px 0;

    &__image {
        margin-bottom: 40px;

        &__inner {
            padding-bottom: 75%;
            height: 0;
            position: relative;
        }

        img {
            @include fill;
            @include object-fit(cover);
        }

        iframe {
            @include fill;
        }
    }

    &__eyebrow {
        margin-bottom: 10px;
    }

    &__title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__description {
        margin-top: 10px;
        margin-bottom: 0;
    }

    &__cta {
        margin-top: 20px;
    }

    &--type-youtube {
        .left-right-image {
            &__image {
                &__inner {
                    padding-bottom: 56.25%;
                }
            }
        }
    }

    @include breakpoint(sm, down) {
        &__image {
            margin-left: -$layout_page_padding_sm;
            margin-right: -$layout_page_padding_sm;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    @include breakpoint(md) {
        margin: 80px 0;

        &__inner {
            display: flex;
            align-items: center;

            margin-left: -30px;
            margin-right: -30px;

            > * {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        &__image {
            margin-bottom: 0;
            width: 50%;
        }

        &__content {
            width: 50%;

            &__inner {
                padding-left: 50px;
                padding-right: 0;
            }
        }

        &__title {
            margin-bottom: 17px;
        }

        &__description {
            margin-top: 17px;
        }

        &--right {
            .left-right-image {
                &__image {
                    order: 2;
                }
                &__content__inner {
                    padding-right: 50px;
                    padding-left: 0;
                }
            }
        }
    }
}
