.mobile-menu {
    @include fill;
    @include hide-for(md);
    position: fixed;
    background-color: $colors_sand;
    padding: 100px 30px 30px;
    overflow-y: auto;

    transform: translateY(-100%);
    transition: 500ms ease all;

    z-index: $zindex_mobile_menu;

    &.is-open {
        transform: translateY(0);
    }

    &__menu {
        padding: 0;
        margin: 0;
    }

    &__submenu {
        padding: 0 15px 15px;
        margin: 0;
        position: absolute;

        .active & {
            position: relative;
        }

        &__item {
            display: block;

            a {
                @extend %submenu-link;
                padding: 15px 0;
            }
        }
    }

    &__item {
        display: block;
        border-bottom: 2px solid rgba($colors_navy, 0.1);

        opacity: 0;
        transition: 400ms ease all;
        transform: translateY(-10px) translateZ(0);

        .is-open & {
            transform: translateY(0) translateZ(0);
            opacity: 1;
        }
    }

    &__link {
        @extend %submenu-link;

        .icon {
            font-size: 16px;
            opacity: 0.5;

            .active & {
                transform: rotate(180deg);
                // color: $colors_red;
            }
        }

        .active & {
            color: $colors_red;
        }
    }
}

%submenu-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0;
    background-color: transparent;
    padding: 20px 0;
    text-decoration: none;
    font-size: rem-calc(12px);
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: $colors_navy;
    cursor: pointer;
}
