.more-from-brand {
    padding: 0 0 60px;
    background-color: $colors_sand;
    overflow: hidden;

    &__inner {
    }

    &__title {
        text-align: center;
    }

    &__content {
        margin: 60px 0;
    }

    &__cta {
        text-align: center;
    }

    @include breakpoint(md) {
        padding: 0 0 120px;
    }
}
