.page-content {
    position: relative;
    padding-bottom: 60px;

    @include breakpoint(sm, down) {
        .container-fluid {
            padding: 0;
        }
    }

    &::before {
        @include fill;
        content: "";
        background-color: $colors_sand;
        top: $layout_hero_offset_sm;
        height: auto;
        bottom: 0;
    }

    &__inner {
        position: relative;
    }

    &__section {
        background-color: white;
        padding: 60px $layout_page_padding_sm;
        &--intro {
            padding: 25px $layout_page_padding_sm 40px;
        }

        &__inner {
            width: 100%;
            margin: 0 auto;
            max-width: 900px;
        }

        .rich-text {
            text-align: center;
            table {
                text-align: left;
            }
        }

        &:not(:last-child) {
            margin-bottom: 2px;
        }
    }

    @include breakpoint(md) {
        padding-bottom: 100px;

        &::before {
            top: $layout_hero_offset_md;
        }

        &__section {
            padding: 80px;
        }
    }
}
