.primary-nav {
    position: relative;
    background-color: white;
    z-index: $zindex_primary_nav;

    li {
        display: block;
        a {
            display: block;
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
    }

    &__menu {
        @include show-for(md);
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;

        &--left {
            justify-content: flex-end;
        }
        &--right {
            justify-content: flex-start;
        }
    }

    &__logo {
        flex-shrink: 0;
        position: relative;
        margin: 22px 0 0;
        padding: 0 30px;

        &::after {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 152px;
            height: 20px;
            background-image: url("../assets/images/logo-container-shape.svg");
            background-repeat: no-repeat;
            content: "";
        }

        img {
            position: relative;
            display: block;
            width: 81px;
            height: auto;
            left: 2px;
        }
    }

    &__hamburger {
        @include hide-for(md);
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border: 0;
        background-color: transparent;
        padding: 0 30px;
    }

    @include breakpoint(md) {
        &__logo {
            &::after {
                width: 211px;
                height: 27px;
                transform: translateX(-50%) translateY(-1px); // Fix subpixel line
            }
            img {
                width: 112px;
            }
        }
    }

    @include breakpoint(lg) {
        &__logo {
            padding: 0 70px;
        }
    }

    @include breakpoint(xl) {
        &__logo {
            padding: 0 90px;
        }
    }
}
