@keyframes filterAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.product-listing-filters {
    @include backgroundBGColour($colors_champagne);

    &__inner {
        background-color: $colors_red;
    }

    &__tabs {
        display: flex;
    }

    &__tab {
        padding: 20px;
        width: 100%;
        text-align: center;
        color: white;
        background-color: $colors_red_dark;
        border: 0;
        cursor: pointer;
        transition: 200ms ease background-color;

        text-transform: uppercase;
        font-weight: 400;

        font-size: 10px;
        letter-spacing: 1.5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        strong {
            margin-top: 3px;
            font-weight: bold;
            font-size: 13px;
            letter-spacing: 1.73px;
            &::before {
                content: "";
                position: absolute;
                bottom: -6px;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: white;
                opacity: 0;
                transition: 200ms ease all;
                transform: scaleX(0);
                transform-origin: left;
            }
        }

        &.active {
            background-color: $colors_red;

            strong {
                position: relative;
                &::before {
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
        }
    }

    &__contents {
        overflow-x: auto;
        &__inner {
            display: flex;
            padding: 30px;
            flex-wrap: wrap;
            width: 1000px;

            > * {
                opacity: 0;
                animation: filterAnimation 500ms ease forwards;
            }
        }
    }

    @include breakpoint(sm, down) {
        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include breakpoint(md) {
        &__contents {
            &__inner {
                justify-content: center;
                width: auto;
                padding: 40px;
            }
        }

        &__tab {
            font-size: 15px;
            letter-spacing: 2px;
            display: block;
        }
    }
}
