.product-listing {
    background-color: $colors_champagne;
    padding: 40px 0;

    &__no-results {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__heading {
            font-weight: 700;
            color: $colors_navy;
            font-size: 20px;
            line-height: 1.2;
            @include breakpoint(md) {
                font-size: 28px;
                letter-spacing: -0.4px;
                margin-top: 20px;
            }
        }
        p {
            margin: 0;
            margin-top: 10px;
        }
    }

    @include breakpoint(md) {
        padding: 40px 0 80px;
    }
}
