.product-grid {
    $offset_sm: 30px;
    $offset_md: 60px;
    // $offset_sm: 0;
    // $offset_md: 0;

    @include gridGutters(20px);

    &__product {
        height: 100%;
        padding-bottom: 20px;
    }

    &--offset {
        padding-top: $offset_sm;

        .product-grid {
            &__col:nth-child(odd) {
                margin-top: -$offset_sm;
                margin-bottom: $offset_sm;
            }
        }
    }

    @include breakpoint(md) {
        @include gridGutters(30px);

        &--offset {
            padding-top: $offset_md;

            .product-grid {
                &__col:nth-child(odd) {
                    margin-top: -$offset_md;
                    margin-bottom: $offset_md;
                }
            }
        }
    }
}
