/* stylelint-disable */

.react-form {
    //

    &__field {
        margin: 28px 0;

        > label {
            border: 0;
        }

        input,
        select,
        textarea {
            @extend %field-input;
        }

        &.is-invalid {
            input,
            select,
            textarea {
                border-color: rgba($colors_error_red, 1);
            }
        }

        &--select {
            position: relative;

            select {
                padding-right: 60px !important;
            }

            &.is-incomplete select {
                color: #666666;
            }

            .react-form__field__select-indicator {
                pointer-events: none;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50px;
                height: 50px;

                @extend .icon;
                @extend .icon-chevron-down;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: rgba($colors_navy, 0.5);
                }

                @include breakpoint(md) {
                    width: 60px;
                    height: 60px;
                }
            }
        }

        &__label {
            &__inner {
                @extend %field-label;

                .is-invalid & {
                    @extend %field-label--invalid;
                }

                .required &::after {
                    @extend %field-label--required;
                }
            }
        }

        &__errors {
            margin-top: 4px;
            font-size: 12px;
            color: $colors_error_red;
        }

        &__info {
            font-size: 14px;
            color: rgba($colors_navy, 0.7);
            margin-top: 8px;
        }
    }
}
