.simple-page-content {
    background-color: $colors_champagne;
    padding: 50px 0;

    .rich-text {
        display: block;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    @include breakpoint(md) {
        padding: 120px 0;
    }
}
