/* stylelint-disable */

@import "https://use.typekit.net/qgg0sln.css";

@import "./constants/layout";
@import "./constants/breakpoint";
@import "./constants/colors";
@import "./constants/font";
@import "./mixins/general";
@import "./mixins/breakpoint";
@import "./base/typography";
@import "./base/iconfont";
@import "./components/moleulces/rich-text";
@import "./components/atoms/button";
@import "./components/atoms/cta";

#tinymce {
    padding: 1rem !important;
    font-family: $font_family_main;

    p:first-child {
        margin-top: 0 !important;
    }

    p:last-child {
        margin-bottom: 0 !important;
    }
}
