{# Page Template #}
{% extends "./templates/master.twig" %}

{# View/Page content and data #}
{% set documentTitle = 'Peters Ice Cream' %}
{% set documentDescription = 'Peters Ice Cream is a premier brand of ice cream in Australia. We’ve been making ice cream for over 100 years!' %}
{% set bodyClass = 'react' %}

{# 'view' block is included in page template default.twig #}
{% block page %}
	<div id="root"></div>
{% endblock %}
