$breakpoint_xl: 92.5em;
$breakpoint_lg: 75em;
$breakpoint_md: 64em;
$breakpoint_sm: 48em;

$breakpoint_map: (
    xl: $breakpoint_xl,
    lg: $breakpoint_lg,
    md: $breakpoint_md,
    sm: $breakpoint_sm,
);

:export {
    xl: ($breakpoint_xl / 1em) * 16;
    lg: ($breakpoint_lg / 1em) * 16;
    md: ($breakpoint_md / 1em) * 16;
    sm: ($breakpoint_sm / 1em) * 16;
}
