// Global
$colors_white: #ffffff;
$colors_black: #000000;

$colors_navy: #0a3351;
$colors_red: #e84536;
$colors_red_dark: #d73e31;
$colors_sand: #f3f2ee;
$colors_sand_light: #f9f8f6;
$colors_sand_dark: #e1dbc5;
$colors_champagne: #f9f6ee;

$colors_blue: #d2eaf5;
$colors_green: #d6f5d2;
$colors_orange: #ffdfba;
$colors_pink: #ffd9d9;
$colors_purple: #e6ddff;
$colors_yellow: #f8f3b1;

$colors_line_blue: #bdd4e0;
$colors_line_green: #c4e4bf;
$colors_line_orange: #efd1ae;
$colors_line_pink: #ecc4c4;
$colors_line_purple: #d0c7e8;
$colors_line_yellow: #e3dfa9;

$colors_error_red: #aa1a23;
