.bg--blue {
    background-color: $colors_blue;
}

.bg--green {
    background-color: $colors_green;
}

.bg--orange {
    background-color: $colors_orange;
}

.bg--pink {
    background-color: $colors_pink;
}

.bg--purple {
    background-color: $colors_purple;
}

.bg--yellow {
    background-color: $colors_yellow;
}
