.button {
    display: block;
    border: 2px solid transparent;
    background-color: transparent;
    padding: 15px;
    width: 100%;
    max-width: 260px;
    font-size: rem-calc(13px);
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: 200ms ease all;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    height: auto;
    line-height: 1.3;
    appearance: none;

    &--primary {
        border-color: $colors_red;
        background-color: $colors_red;
        box-shadow: 0 20px 40px rgba(black, 0.11);

        &:hover {
            background-color: lighten($colors_red, 5%);
            border-color: lighten($colors_red, 5%);
        }
    }

    &--secondary {
        border-color: $colors_red;
        color: $colors_red;
        background-color: transparent;

        &:hover {
            background-color: $colors_red;
            color: $colors_white;
        }
    }

    &--tertiary {
        @extend .button--secondary;
        background-color: $colors_champagne;
    }

    &--white {
        border-color: white;
        background-color: white;
        box-shadow: 0 20px 40px rgba(black, 0.11);
        color: $colors_red;

        &:hover {
            background-color: $colors_red;
            border-color: $colors_red;
            color: white;
        }
    }

    .icon {
        display: inline-block;
        margin-left: 7px;
        font-size: 16px;
        transform: translateY(2px);
    }

    @include breakpoint(md) {
        display: inline-block;
        max-width: 275px;
        padding: 20px;
    }
}
