.cta-arrow {
    position: relative;
    line-height: 1;

    &::after {
        display: inline-block;
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-52%) translateX(45%);
        right: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: rgba($colors_red, 0.2);
        transition: 300ms ease all;
    }

    .icon {
        position: relative;
        display: inline-block;
        color: $colors_red;
        font-size: 16px;
        transition: 300ms ease all;
        line-height: 1;
    }

    &:hover,
    a:hover & {
        .icon {
            transform: translateX(5px);
        }
    }
}
