.cta {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-size: rem-calc(13px);
    letter-spacing: 1.5px;
    font-weight: bold;
    text-transform: uppercase;
    color: $colors_red;
    text-decoration: none;

    .cta-arrow {
        margin-left: 7px;
    }
}
