// Label
// -----

%field-label {
    margin-bottom: 4px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgba($colors_navy, 0.7);
}

%field-label--invalid {
    color: rgba($colors_error_red, 1);
}

%field-label--required {
    display: inline-block;
    margin-left: 5px;
    content: "(Required)";
    text-transform: none;
    letter-spacing: 0.2px;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
}

// Input
// -----

%field-input {
    padding: 11px;
    background-color: white;
    border: 1px solid rgba($colors_navy, 0.3);
    border-radius: 2px;
    line-height: 1.5;
    min-height: 50px;

    @include breakpoint(md) {
        min-height: 60px;
    }
}
