.filter-toggle {
    border: 0;
    background-color: $colors_red_dark;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 50px;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;
    cursor: pointer;
    transition: 200ms ease all;

    &:hover {
        background-color: darken($colors_red_dark, 5%);
    }

    &--active {
        background-color: white !important;
        color: $colors_red_dark !important;
    }
}
