.primary-nav-overlay {
    @include fill;
    position: fixed;
    background-color: rgba($colors_sand_dark, 0.45);
    opacity: 0;
    transition: 500ms ease all;
    z-index: -1;

    &.active {
        opacity: 1;
        z-index: $zindex_primary_nav_overlay;
    }
}
