.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: $colors_navy;
    text-align: center;
    padding: 0 15px;

    &__name {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        opacity: 0.7;
        margin-top: 10px;
        transition: 200ms ease all;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 2px solid rgba($colors_navy, 0.3);
        text-align: center;
        font-size: 18px;
        transition: 200ms ease all;

        .icon {
            display: inline-block;
            transform: translateY(1px) translateX(1px) translateZ(0);
            transition: 200ms ease all;
        }
    }
    &:hover,
    a:hover & {
        .social-link__name {
            color: $colors_red;
        }

        .social-link__icon {
            border-color: rgba($colors_red, 0.3);

            .icon {
                color: $colors_red;
            }
        }
    }
}
