.thumb-image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: (100%) * 2/3;
    height: 0;
}

.thumb-image {
    @include fill;
    @include object-fit(cover);
    transition: 1s ease all;

    a:hover & {
        transform: scale(1.05);
    }
}
