.wtb-item {
    margin: 30px 0;
    text-decoration: none;
    color: $colors_navy;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    display: flex;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__logo {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 2px solid rgba($colors_navy, 0.3);
        margin-right: 20px;
        overflow: hidden;
    }

    &__text {
        display: flex;
        align-items: center;
        line-height: 1;

        &__icon {
            position: relative;
            margin-left: 10px;
            color: $colors_red;
            font-size: 10px;
            display: inline-block;
            transition: 200ms ease all;
        }
    }

    &:hover {
        .wtb-item__text__icon {
            transform: translateX(2px) translateY(-2px);
        }
    }
}
