<div class="latest-news">
	<div class="container-fluid center-xs">
		<h2>
			Latest News
		</h2>
		<div class="row">
			{% for card in latestNews %}
				<div class="col-xs-12 col-sm-4">
					{% include twigDir ~ 'molecules/card.twig' with card  %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
