<div class="card">
	{{ title }}

	{% if link %}
	<a href="{{ link.href }}" class="card-link">
		{{ link.text }}
	</a>
	{% endif %}

	{% if id %}
	<div class="card-id">
		{{ id }}
	</div>
	{% endif %}

	<p>
		{% include twigDir ~ 'atoms/button.twig' with button only %}
	</p>

</div>
