{#

Template reference - https://api.drupal.org/api/drupal/core%21modules%21system%21templates%21pager.html.twig/8.2.x

/**
 * @file
 * Default theme implementation to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 *
 * @ingroup themeable
 */
#}

{% if items %}
<div class="pagination">

	{# Print first item if we are not on the first page. #}
	{% if items.first %}
		<a href="{{ items.first.href }}" class="pagination__link">
			First
		</a>
	{% endif %}

	{# Print previous item if we are not on the first page. #}
	{% if items.previous %}
		<a href="{{ items.first.href }}" class="pagination__link">
			Back
		</a>
	{% else %}
		<a class="pagination__link pagination__link--disabled">
			Back
		</a>
	{% endif %}

	{# Add an ellipsis if there are further previous pages. #}
	{% if ellipses.previous %}
		<span class="pagination__link">
			&hellip;
		</span>
	{% endif %}

	{# Now generate the actual pager piece. #}
	{% for key, item in items.pages %}
		<a href="{{ item.href }}" class="pagination__link {{ current == key ? ' is-active' : '' }}">
			{{- key -}}
		</a>
	{% endfor %}

	{# Add an ellipsis if there are further next pages. #}
	{% if ellipses.next %}
		<span class="pagination__link">
			&hellip;
		</span>
	{% endif %}

	{# Print next item if we are not on the last page. #}
	{% if items.next %}
		<a href="{{ items.next.href }}" class="pagination__link">
			Next
		</a>
	{% else %}
		<a class="pagination__link pagination__link--disabled">
			Next
		</a>
	{% endif %}

	{# Print last item if we are not on the last page. #}
	{% if items.last %}
		<a href="{{ items.last.href }}" class="pagination__link">
			{{ items.last.number }}
		</a>
	{% endif %}

</div>
{% endif %}
